:root{
  --primary-color: #D23166;
  --secondary-color: #F8EDF0;
  --text-color: #150101;
  --black: #000;
  --white: #fff;
  --link-hover: #D23166;
}
*.
*::after.
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 1120px;
  margin: 0 auto;
}
.header__container{
  display: flex;
  flex-direction: column;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sitelogo{
  display: flex;
  width: 79px;
  height: 79px;
}
.nav__list{
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav__item{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;

}
.nav__link:hover{
  color: var(--link-hover);

}
.nav__link{
  color: var(--text-color);
}