:root{
  --primary-color: #D23166;
  --btn-hover: #d31454;
  --secondary-color: #F8EDF0;
  --text-color: #150101;
  --black: #000;
  --white: #fff;
  --link-hover: #D23166;
  --btncolor: #FAFAFA;
}
/* fredoka-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fredoka-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hind-madurai-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/hind-madurai-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hind-madurai-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/hind-madurai-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hind-madurai-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/hind-madurai-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*.
*::after.
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 1120px;
  margin: 0 auto;
}
/* header styles */
/* nav  */
.header{
  background-color: #f2ceda53;
}
.header__container{
  display: flex;
  flex-direction: column;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 52px;
}
.sitelogo{
  display: flex;
  width: 79px;
  height: 79px;
}
.nav__list{
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav__item{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.nav__link:hover{
  color: var(--link-hover);
  
}
.nav__link{
  color: var(--text-color);
  padding: 20px 0;
}
.btn{
  padding: 14px 50px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--btncolor);
  font-family: 'Hind Madurai';
  font-size: 16px;
  font-weight: 700;
  box-shadow: none;
  border: 1px solid transparent;
}
.btn:hover{
  background-color: var(--btn-hover);
  cursor: pointer;
}

/* hero styles */
.hero-container{
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.subtitle{
  color: #0F0101;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  padding-bottom: 6px;
}
.hero__title{
  color: #0F0101;
  font-family: 'Fredoka',sans-serif;
  font-size: 57.33px;
  line-height: 120.5%;
  padding-bottom: 35px; 
}
.hero__content{
  font-family: 'Hind Madurai';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 50px;
}
.hero img{
  display: flex;
  margin-bottom: 5px;
}
/* main section styles */
/* features styles*/

.features__list {
  display: flex;
  gap: 40px;
  align-items: center;  
  justify-content: space-between;
  text-align: center;
  padding: 100px 0 ;
}
.features-item {
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-item:hover{
  background-color: #fff;
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.features__img {
  display: flex;
  width: 55px;
  height: 55px;
  padding:33px 0 24px;
}
.features__title {
  color: var(--black);
  font-family: 'Hind Madurai';
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 9px;  
}
.features__content {
  color: var(--black);
  font-family: 'Hind Madurai';
  font-size: 14px;
  font-weight: 400;
  padding:0 26px 28px;
}
/* info section styles */
.info-section{
  background-color: var(--secondary-color);
}
.info-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 137px;
}
.info-title {
  color: var(--text-color);
  font-family: 'Hind Madurai';
  font-size: 44.2px;  
  font-weight: 600;
  line-height: 110.5%;
  padding-bottom: 16px;
}
.info-description {
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 30px;
}
.info__img {
  /* position: absolute; */
  max-width: 550px;
  background-color: url(<path-to-image>), lightgray 50% / cover no-repeat;
  right: -100px;
}
/* product section */
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.h2{

}
.product-m-title {  
  color: var(--text-color);
  font-family: 'Hind Madurai';
  font-size: 44.2px;
  font-weight: 600;
  padding-bottom: 64px;
}
.product-list {
  display: flex;
  gap: 40px;
}
.product-item {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 100px;
}
.product-link {
  color: var(--black);
  opacity: 0.6;
  padding: 20px 0 0;
}
.product-link:hover{
  color: var(--black);
  opacity: 100%;
  border-bottom: 3px solid #D64374;
}
.bread {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px; 
  padding-bottom: 100px; 

}
.product__img {
  max-width: 400px;
}
.product-title {
  color: var(--black);
  font-family: 'Hind Madurai';
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 11px;
}
.product-content {
  color: var(--black);
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
  padding-bottom: 28px; 
}
.price {
  color: var(--black);
  font-family: "Hind Madurai";
  font-size: 20px;
  font-weight: 500;
  text-decoration-line: strikethrough;
  opacity: 0.7;
  padding-bottom: 16px;
}
.price span {
  color: var(--black);
  font-family: 'Hind Madurai';
  font-size: 26px;
  font-weight: 500;
  opacity: 100%;
}
.chocolate {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
  padding-bottom: 100px;
}
.sweet-corn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
  padding-bottom: 100px;
}
.form {
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form-title {
  color: #000;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 500;
  padding-bottom: 28px;
}
.form-one{
  display: flex;
  align-items: center;
  justify-content: end;
}
input{
  width: 503px;
  height: 74px;
  border-radius: 5px;
  background-color: #FAFAFA;
  border: none;
  color: #0F0000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 29px 140px 29px 30px;  
}
.form button {
  height: 74px;
 position: absolute;
  border: radius 5px;
}